.header{
	background-color: #25A9F5;
}

.header .qestion-header{
	width: 50px;
	margin-top: -7px;
	margin-right: 4px;
	float: right;
}

.header .btn-options{
	margin-bottom: 10px;
	margin-top: 9px;
	margin-left: 10px;
	height: 30px;
	width: 30px;
	background-color: #CCCCCC;
}

.header > span{
	margin-top: 8px;
	position: absolute;
	left: 50%;
	color: white;
	/*font-family: "Brandon", Arial, sans-serif;*/
	font: normal 25px/1 'Righteous', cursive;
  	color: rgba(255,255,255,1);
  	text-align: center;
  	-o-text-overflow: clip;
	text-overflow: clip;
	text-shadow: rgb(128, 119, 119) 0.1em 0.1em 0.2em;
}

/*Panel desplegable a la izquierda donde estarán las opciones de perfil y demas*/
.nav > li > a:hover{
	background-color: #5A84B6;
}
.home .menu-panel{
	background-color: #5C7491;
}

.home .menu-panel > ul > li > a{
	color: white;
}

.home .menu-panel > ul > .first-element{
	margin-top: 10px;
}

.img-user{
	margin-top: 10px;
	text-align: center;
}

.img-user-circular{
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	border: 1px solid #DDD;
}

/*Estilos del perfil del usuario*/
.perfil{
	text-align: center;
}

.perfil .add-file{
	display: none;
}

.div-img{
	text-align: center;
	margin-top: 20px;
}

.div-img > .img-user{
	width: 130px;
	height: 130px;
	margin-top: 15px;
	background-color: white;
	overflow: hidden;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	border: 1px solid #DDD;
}

.div-img-left{
	float: right;
	margin-right: 120px;
}

.div-img-left > .img-user{
	width: 90px;
	height: 90px;
	margin-left: 70px;
	background-color: white;
	overflow: hidden;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	border: 1px solid #DDD;
}

.perfil .list-group{
	margin-top: 10px;
}

.perfil .list-group .list-group-item{
	font: normal 12px/1 "Fredoka One", Helvetica, sans-serif;
	color: white;
	border: none;
	background: transparent;
}

.game-container{
	text-align: center;
}

.game-container > img{
	margin-top: 15px;
	width: 250px;
}

.game-container .div-iniciar{
	margin-top: 40px;
}

.game-container .div-iniciar .btn-iniciar{
	background-image: linear-gradient(to bottom, #FFFD65 0%, #FBB23C 100%);
	color: black;
	font-weight: bold;
	width: 150px;
	height: 50px;
	font-size: 20px;
}

/* Estilos para la creación de una nueva partida */
/*Imagen del muñeco dependiendo si es hombre o mujer*/
.body-container > .create-game > form > .form-group > .img-game{
	width: 120px;
}

.body-container > .create-game > form > .div-newgame{
	width: 80%;
	margin-left: 10%;
}

/*Caja donde ingresa el nombre*/
.body-container > .create-game > form > .div-newgame > .lbl-name{
	font: normal 20px/1 "Righteous", cursive;
	color: rgba(255,255,255,1);
	text-align: center;
}

.body-container > .create-game > form > .form-group > .btn-next{
	margin-left: 80%;
	margin-top: 10px;
}

/*Estilos para el titulo del tipo de partida*/
.div-title-typegame{
	text-align: center;
}

.div-title-typegame > .title{
	color: white;
}

/*Botones para elegir si se eligen jugadores aleatorios o el usuario seleccionara que jugadores*/
.div-typegame{
	display: inline-block;
}
.btn-selecttypegame{
	width: 100px;
	height: 100px;
}

.span-selecttypegame{
	font-size: 50px;
}

.span-typegame{
	font: normal 15px/1 "Righteous", cursive;
	color: rgba(255,255,255,1);
}

/*Tabla donde están los jugadores seleccionados para la partida*/
.body-container > .create-game > form > .form-group > .table-players{
	margin-top: 20px;
	background-color: white;
	width: 80%;
	margin-left: 10%;
}

.body-container > .create-game > form > .form-group > .table-players > caption{
	font: normal 20px/1 "Righteous", cursive;
	color: rgba(255,255,255,1);
	margin-bottom: 10px;
}

.body-container > .create-game > form > .form-group > .table-players > thead > tr > .th1{
	width: 90%;
}

.div-numberquestion{
	width: 100%;
	text-align: center;
	margin-top: 20px;
	margin-left: 206px;
}

.div-numberquestion > span{
	font: normal 20px/1 "Righteous", cursive;
	color: rgba(255,255,255,1);
}

/*Estilos para la vista del juego*/
/*Header*/
#questionHeader{
	position: relative;
	height: 49px;
}
#questionHeader img, #questionHeader .counter{
	position: relative;
	z-index: 2;
	width: 60px;
	height: 48px;
}

#questionHeader img{
	float: left;
}

#questionHeader .counter{
	font: normal 25px/1 'Righteous', cursive;
	color: white;
	float: right;
	margin-top: 10px;
}

.progress-header{
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: #25A9F5;
}

.div-principal{
	width: 100%;
	display: inline-block;
	/*margin-top: 60px;*/
	/*margin-left: 3%;*/
}

.div-principal > .div-game{
	float: left;
	width: 65%;
}

.div-principal > .div-game > .div-question{
	margin-top: 30px;
	background-color: white;
	width: 90%;
	margin-left: 64px;
	height: 130px;
	border-radius: 20px 20px 20px 20px;
	-moz-border-radius: 20px 20px 20px 20px;
	-webkit-border-radius: 20px 20px 20px 20px;
	border: 0px solid #000000;
	text-align: center;
	vertical-align: middle;
}

.div-question .alert-msg{
	font: normal 50px/1 'Righteous', cursive;
	font-weight: bold;
}

.div-principal > .panel-players{
	width: 30%;
	margin-top: 30px;
	float: right;
	margin-right: 22px;
}

.btn-answer{
	display: block;
	margin-top: 15px;
	margin-left: 64px;
	margin-right: 20px;
	word-wrap: break-word;
	overflow: hidden;
	white-space: normal;
	width: 90%;
}

.div-pass{
	width: 100%;
}

.div-pass .btn-pass{
	position: absolute;
	width: 20%;
	height: 60px;
	margin-left: 40%;
	border-radius: 15 15 15 15;
	-moz-border-radius: 15 15 15 15;
	-webkit-border-radius: 15 15 15 15;
	border: 0px solid #000000;
}

.player-turn{
	background-color: #428BCA;
	color: white;
}

/*Notificaciones del las preguntas*/
.question-notify{
	text-align: center;
	position: relative;
	z-index: 2;
}

.question-notify > img{
	width: 120px;
}

.question-notify > div > .message-final-duel{
	font: normal 25px/1 'Righteous', cursive;
	color: white;
}

.question-notify > .winner{
	display: inline-block;
}

.question-notify > .winner > .divwinner > img, .question-notify > .winner > .divwinner > span{
	float: left;
}

.question-notify > .winner > .divwinner > span{
	margin-top: 50;
	margin-left: 20px;
	font: normal 25px/1 'Righteous', cursive;
    color: white;
}

.question-notify > div > button{
	width: 150px;
	height: 45px;
	font: normal 20px/1 'Righteous', cursive;
}

.question-notify > div > button[data-id=btnsalir]{
	margin-right: 10px;
}

.other-player{
	display: flex;
    margin-top: 26px;
    margin-bottom: 20px;
    font: normal 18px/1 'Righteous', cursive;
    color: white;
}

.second-place{
	margin-left: 20%;
}

.third-place{
	margin-left: 7%;
}

.fourth-place{
	margin-left: 6%;
}