body{
	/*background: rgba(18,124,163,0.75);
	background: -moz-linear-gradient(top, rgba(18,124,163,0.75) 0%, rgba(33,180,226,0.75) 27%, rgba(43,179,222,0.75) 31%, rgba(64,176,214,0.78) 40%, rgba(20,184,20,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(18,124,163,0.75)), color-stop(27%, rgba(33,180,226,0.75)), color-stop(31%, rgba(43,179,222,0.75)), color-stop(40%, rgba(64,176,214,0.78)), color-stop(100%, rgba(20,184,20,1)));
	background: -webkit-linear-gradient(top, rgba(18,124,163,0.75) 0%, rgba(33,180,226,0.75) 27%, rgba(43,179,222,0.75) 31%, rgba(64,176,214,0.78) 40%, rgba(20,184,20,1) 100%);
	background: -o-linear-gradient(top, rgba(18,124,163,0.75) 0%, rgba(33,180,226,0.75) 27%, rgba(43,179,222,0.75) 31%, rgba(64,176,214,0.78) 40%, rgba(20,184,20,1) 100%);
	background: -ms-linear-gradient(top, rgba(18,124,163,0.75) 0%, rgba(33,180,226,0.75) 27%, rgba(43,179,222,0.75) 31%, rgba(64,176,214,0.78) 40%, rgba(20,184,20,1) 100%);
	background: linear-gradient(to bottom, rgba(18,124,163,0.75) 0%, rgba(33,180,226,0.75) 27%, rgba(43,179,222,0.75) 31%, rgba(64,176,214,0.78) 40%, rgba(20,184,20,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#127ca3', endColorstr='#14b814', GradientType=0 );
	*/
	background-color: #57C2E4 !important;
}

body > div[data-role=page]{
	/*background-color: #E0EDFB;*/
	background: transparent;
}

.login{
	width: 100%;
	text-align: center;
}

.login > .logo {
	margin-top: 30px;
}

.login > .logo > h1{
	color: white;
	font-size: 30px;
}

.login > .logo > h1 > img{
	margin-right: 8px;
}

.login form{
	margin-top: 60px;
	width: 250px;
	left: 50%;
	margin-left: -114px;
	position: relative;
}

.login .login-form form input{
	font-size: 17px;
	text-align: center;
}

.login-form > form > button.btn-ingresar{
	background-color: #F2E53B !important;
	color: #000;
	height: 32px;
	margin-top: 10px;
	padding-top: 5px;
	width: 150px;
	font-weight: bold;
	font-size: 12px;
	border: none;
}

.login .error-message{
	margin-left: 30px;
	font: normal 25px/1 "Fredoka One", Helvetica, sans-serif;
	color: white;
}